<!DOCTYPE html>
<html lang="pt-br">
<head>
<link href="stylesheets/header.css" rel="stylesheet" type="text/css" />

<header>
    <nav class="menu">
      <div class="menu-logo">
        <img src="images/logo.png" alt="Logo da Empresa" class="logo-main">
        <img src="images/logonome.png" alt="Logo Secundária" class="logo-secondary">
      </div>
      <ul class="menu-items">
        <li><a href="/">PÁGINA INICIAL</a></li>
        <li><a href="/velha">JOGO DA VELHA</a></li>
        <li><a href="/jogos">JOGOS</a></li>
      </ul>
      <div class="search-container">
        <input type="text" placeholder="Buscar...">
        <button type="button" aria-label="Pesquisar">
          <img src="images/lupa.png" alt="Pesquisar" class="search-icon">
        </button>
      </div>
    </nav>
  </header>
  