<!DOCTYPE html>
<html lang="pt-br">
<head>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />

<body>

    <!-- Incluir o header -->
  <%- include('partials/header') %>

    <div class="container">
        <h1>VIVA A EXPERIÊNCIA 
          <br/>
          DO GAMESTART</h1>
        
        <a href="/jogos" class="botao">JOGAR</a> <!-- href alterado para a rota Express -->
      </div>

      

       <%- include('partials/footer') %> <!-- Incluir o footer aqui -->
        
</body>
</html>
