body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 50px;

}

#exibicao-palavra {
  font-size: 3em;
  margin-bottom: 30px;
}

#letras-chutadas {
  font-size: 2em;
  color: blue;
  font-weight: bold;
  margin-bottom: 20px;
}